/**************************************************Aashiq Khan***************************************/
html, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'Montserrat';
  background-image: url(../images/webbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 89px;
}
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

button:focus,
input:focus, select:focus {
  outline: none;
  box-shadow: none;
  box-shadow:none!important;
}

.form-group input.form-control:focus {
    outline: none;
    box-shadow: none;
}

button,
input {
    border: none;
}

ul {
    list-style: none;
    padding-left: 0px;
}
body img{
  max-width: 100%;
}
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}
.container-1440{
  max-width: 1440px;
  margin: 0 auto;
}
/****************************Custom Css**********************/
li.nav-item a.nav-link {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}
.dropdown-menu a.dropdown-item {
    padding: 5px 20px;
}
.dropdown .dropdown-menu{
  left: auto;
  right: 0;
  position: absolute;
}
li.nav-item a#navbarDropdownMenuLink {
    background: rgb(255 255 255 / 0.1);
    height: 32px;
    border-radius: 16px;
    width: 70px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.dropdown-toggle::after {
  content: none;
  border: none;
  margin: 0px 0px;
  vertical-align: baseline;
}
.dropdown-toggle.aftercss{
  position: relative;
}
.dropdown-toggle.aftercss::after {
  display: inline-block;
  content: '\f054'!important;
  font-family: FontAwesome;
  transform: rotate(90deg);
  transition: all 0.5s;
  margin-left: 2px;
}
li.nav-item.dropdown:hover .dropdown-toggle.aftercss::after{
  transform: rotate(-90deg);
}
header.scrolling {
    background: rgb(0 2 38 / 0.9);
    top: 0px!important;
    box-shadow: 0px 0px 8px 0px #434343;
}
nav.navbar.navbar-expand-lg.bg-transparent {
    padding: 5px 0px;
}
a.navbar-brand img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.blockchain-technology h1 {
    font-size: 46px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
}
.blockchain-technology p {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
}
.blockchain-technology p span {
    color: #007de1;
}
.launching-data {
    border-radius: 15px;
    filter: drop-shadow(17.835px 16.059px 4.5px rgba(0,0,0,0.24));
    background-color: rgb(5 86 186 / 0.2);
    padding: 40px 30px;
    max-width: 80%;
}
.launching-data h4 {
    font-size: 24px;
    color: #e48212;
    font-weight: 600;
}
.launching-data p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}
.launching-data .form-group label {
    font-size: 14px;
    color: #ececec;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 20px;
}
.form-group input.form-control {
    height: 54px;
    border-radius: 26px;
    color: #fff;
    background-color: rgb(255 255 255 / 0.2);
    border: 1px solid rgb(255 255 255 / 0.5);
    font-size: 14px;
}
.form-group input.form-control::-webkit-input-placeholder { /* Edge */
  color:#fff;
  font-size: 14px;
}

.form-group input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#fff;
  font-size: 14px;
}

.form-group input.form-control::placeholder {
  color:#fff;
  font-size: 14px;
}
.technology-img img {
}
button.btn.btn-theme {
    width: 140px;
    height: 52px;
    border-radius: 26px;
    background-color: #e48212;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}
.Supportedby p {
    font-size: 12px;
    color: #e2e2e2;
    font-weight: 400;
}
.copy-rights p {
    font-size: 12px;
    line-height: 21px;
    color: rgb(255 255 255 / 70%);
    font-weight: 500;
}
section.middle-data {
    background-image: url(../images/bg-stars.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: right 0px bottom 130px;
    padding-top: 35px;
}
/*********************FAQ*******************/
div#accordionExample button.btn.btn-link {
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: left;
    position: relative;
    padding-right: 25px;
    padding: 12px 0px;
    padding-right: 25px;
}
.commonstyle-area {
    color: #fff;
    margin: 115px 0px;
}

.commonstyle-area h2 {
    font-size: 38px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 700;
}

.commonstyle-area p{
  font-size: 20px;
  line-height: 42px; 
  color: #ffffff;  
  font-weight: 300;
}

section.Howit-works .steps-numbers label {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
}
section.Howit-works .steps-numbers p{
    font-size: 16px;
    line-height: 28px;
    color: #9494bc;
    font-weight: 300;
    padding: 5px;
}

div#accordionExample .card {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #b7b7bd;
    border-radius: 0px;
}
div#accordionExample .card div#headingOne, div#accordionExample .card-header{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 14px 0px;
}
div#accordionExample button.btn.btn-link i.fa.fa-plus {
    position: absolute;
    right: 1px;
    top: 25px;
    font-weight: initial;
    font-size: 20px;
}
.commonstyle-area div#accordionExample .card .card-body p {
    font-size: 14px;
    line-height: 28px;
    color: #9494bc;
    font-weight: 300;
}
div#accordionExample .card-body {
    padding: 0px 0px 18px;
}
.btn-link{
  text-decoration: none!important;
  cursor: pointer;
}
.btn-link:hover{
  text-decoration: none!important;
  cursor: pointer;
}
.steps-numbers figure.working-step {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.steps-numbers figure.working-step img {
    max-width: 405px;
}
button.btn.btn-link.collapsed i.fa.fa-plus{
  transition: all .8s;
}

button.btn.btn-link.collapsed i.fa.fa-plus{
  transform: rotate(0deg)!important;
  transition: all .8s;
}

button.btn.btn-link i.fa.fa-plus{
  transform: rotate(45deg)!important;
  transition: all .8s;
}
section.Howit-works.commonstyle-area button.btn.btn-theme {
    width: 224px;
    height: 65px;
    border-radius: 38px;
    background-color: #e48212;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}
/****************Tutorial page css******************/
li.nav-item.active-menu a.nav-link {
    color: #007de1;
    font-weight: 500;
}
.topmain-heading h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 600;
}

.topmain-heading p {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
}

.topmain-heading p span.blue-color {
    font-size: 26px;
    color: #007de1;
    font-weight: 600;
}
h2.step-number {
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 700;
}
.common-paragraph p {
    font-size: 16px;
    line-height: 28px;
    color: #9494bc;
    font-weight: 300;
}

.common-paragraph p span.blue-color {
    font-size: 16px;
    line-height: 28px;
    color: #007de1;
    font-weight: 600;
}

li.nav-item.active a.nav-link{
  color: #007de1;
  font-weight: 600;
}

.repeating-strucure {
    margin: 85px 0px;
}
.repeating-strucure h2.step-number {
    margin-bottom: 50px;
}
ul.listing-aarow li {
    font-size: 16px;
    line-height: 28px;
    color: #9494bc;
    font-weight: 300;
    display: flex;
    align-items: center;
}
ul.listing-aarow li span{
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#007de1;
  border-radius: 50%;
  min-height: 25px;
  max-width: 25px;
  min-width: 25px;
}
ul.listing-aarow li span i.fa{
  color: #000226;
  font-size: 14px;
}